@import "media.css";
body {
    font-family: "ArialRegular",  sans-serif;
    font-size: 16px;
    position: relative;

}
.header{
    width: 100%;
    min-height: 45px;
    background-color: #4a5760;
    position: relative;
}
.disk{
    width: 20px;
    height: 20px;
    border-radius:10px;
    top: 58px;
    left: 122px;

    /*background-color: #b7cc77;*/
    position: absolute;
    box-shadow: #4e5c67 1px 1px 0 0 ;
    background: radial-gradient(at 4px 2px,
    #d7ee96 25%,
    #d3e898 29%,
    #b7cc77
    );

}
.dd1{
    width: 6px;
    height: 6px;
    background: #d3e898;
    border: 1px solid #b7cc77;
    position: absolute;
    left: 10%;
    top: 22%;
    transform: rotate(96deg);
    border-bottom: none;
    border-right: none;

}
.disk span{
    font-family: "ArialBold";
    font-size: 14px;
    color: #5f7073;
    text-shadow: 2px 0 0 #f5f8ec;
    margin-left: 4px;
}
.navi_header{
    font-family: "ArialBold";
    font-size: 12px;
    color: #e3e4e4;
    display: flex;
    justify-content: flex-end;
    /*align-items: flex-end;*/
}
.navi_header_left{
    display: flex;
    align-items: center;
    margin-right: 684px;
}

.nav_header_menu li{
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-right: 5px;
}

.navi_header a{
    text-decoration: none;
    font-family: "ArialBold";
    font-size: 12px;
    color: #e3e4e4;
}
.nav_header_menu{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-top:12px;;

}
.navi_header a:hover{
    color: #d6e3ee;
}
.logout{
    width: 75px;
    border-left:2px solid #808c93;
    position: relative;

}

.glyphicon {
    color: #bde2ff;
    margin-left: 9px;
    margin-right: 7px;
}
.glyphicon-eject{
    color: #bde2ff;
    margin-left: 9px;
    margin-right: 9px;
    font-size: 9px;
}
.btn-header{

    font-family: "ArialBold";
    font-size: 12px;
    background-color: #4a5760;
    color: #e3e4e4;
    border-left-color:#707b82 ;

}

.settings{
    width: 70%;
    margin-top: 30px;
}
.menu{
    width:100%;
    height: 65px;
    background-color: #6b7e8d;

}
.menu_settings{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
}
.menu_settings li{
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-right: 30px;
}
.menu_settings a{
    text-decoration: none;
    font-family: "ArialBold";
    font-size: 14px;
    color: #e3e4e4;
}
.menu_settings a:hover{
    color: #8c9daa;
}
.company_settings{
    margin-left: 130px;
}
/*.header {*/
    /*min-height: 50px;*/
    /*background-color: #333333;*/
/*}*/
.content{
    width: 100%;
    background-color: #6b7e8d;
}

.panel-default{
   width: 70%;
    position: relative;
}
.panel-title{
    font-family: "ArialBold";
    font-size: 20px;
    color: #666666;
}
.media-object{
    width: 42px;
    height: 42px;
    border: 3px solid #ffffff;

}

.dd{
    width: 10px;
    height: 10px;
    background: #f3f3f3;
    border: 1px solid #e0e0e0;
    position: absolute;
    left: 9%;
    top: -4%;
    transform: rotate(45deg);
    border-bottom: none;
    border-right: none;
}

/*.imd_border{*/
    /*width: 42px;*/
    /*height: 42px;*/
    /*border: 1px solid gray;*/
    /*background-color: #ffffff;*/
/*dee7ef*/
/*}*/
.tool_tip{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 90px;
    z-index: 9999;
    position: absolute;
    width: 230px;
    min-height: 190px;
    background-color: #f9fbd9;
    border: 1px solid #a6a6a6;
    box-shadow: #e2e2e2 1px 1px 1px 2px;;

}
.tool_tip_container{
    margin: 0;
    padding: 10px;
}
.header_cotainer{
    display: flex;
    justify-content: flex-start;
}
.img{
    background-image: url("../../images/foto.jpg");
    width: 100%;
    height: 50%;

}
.img_fon{
    width: 100%;
    margin: 0;
    padding: 3px;
    /*position: relative;*/

}
.img_border{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 26%;
    min-height: 45px;
    background-color: #ffffff;
    border: 1px solid #d0dfec;
}
.left_info{
    margin-left: 10px;
}
 .left_info .left_info_name {
    font-family: "ArialRegular";
    font-size: 12px;
    color: #6689a6;
}
.left_info .position {
    font-family: "ArialRegular";
    font-size: 12px;
    color: #666666;
}
.info_container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.info_container_feft{
    margin-left: 5px;
    text-align: justify;
}
.info_container_feft p{
    font-family: "ArialRegular";
    font-size: 12px;
    color: #666666;
}
.info_container_right{

    width: 50%;
    height: 47px;
    background-color: #5ec8d2;
    position: relative;
}
.rating{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.info_container_right span{
    font-family: "ArialRegular";
    font-size: 41px;
    color: #ffffff;

}